/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --rec-show: inline-flex;
  --ul-color: #ff0070;
  --title-main-color: #DB00FF;
  --accent-color: #ff0070;
  --h3-bgc-color: #ff0070;
  --h3-font-color: #000028;
  --h2-font-color: #ff0070;
  --p-color: #f1b2ce;
  --decor-corner-color: #ff0070;
  --card-link-color: #ff0070;
  --link-hover: rgba(255, 0, 112, 0.4);
}