
:root.theme-light {
   --bg-image: url(../images/cover-image-light.png);
  --rec-show: none;
  --ul-color: #353430;
  --title-main-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --h3-bgc-color: #FF8DCB;
  --h3-font-color: #353430;
  --h2-font-color: #353430;
  --p-color: #353430;
  --decor-corner-color: #353430;
  --card-link-color: #FF8DCB;
  --link-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
  --rec-show: none;
  --ul-color: #353430;
  --title-main-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --h3-bgc-color: #FF8DCB;
  --h3-font-color: #353430;
  --h2-font-color: #353430;
  --p-color: #353430;
  --decor-corner-color: #353430;
  --card-link-color: #FF8DCB;
  --link-hover: rgba(50, 49, 45, 0.4);
  }

} 